
@import url("http://fonts.cdnfonts.com/css/tt-norms-pro");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    font-family: 'TT Norms Pro', sans-serif;
}

.conteudo {
    width: 940px;
    min-width: 230px;
    height: 100vh;
  }

/* Página 01 */

.imagem-logo {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Página 02 */

.cesta-salad-combo {
    text-align: center;
    vertical-align: bottom;
    background-color: #FFA451;
    height: 50vh;
}

.imagem-cesta-salad-combo {
    margin-top: 3rem;
    height: 80%;
}

.titulo-cesta {
    margin-top: 1rem;
    font-size: 16px;
    font-weight: 700;
    color:#27214D;
    padding-left: 1.6em;
    padding-top: 1.2em;
}

.paragrafo-cesta {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding-left: 1.6em;
    padding-right: 1.2em;
    padding-top: 0.8em;
    color:#5D577E;
}

.botao-Continue-Ordering {
  margin-top: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.botao-Continue-Ordering a {
    color: #FFFFFF;
    text-decoration: none;
    width: 90%;
    padding: 20px;
    border-radius: 10px;
    background-color: #FFA451;
    text-align: center;
    transition: 300ms all;
    cursor: pointer;
}

/* Página 03 */

.titulo-nome {
  margin-top: 1rem;
  font-size: 16px;
  font-weight: 700;
  color:#27214D;
  padding-left: 1.6em;
  padding-top: 1.2em;
}

.entrada-nome {
  border: none;
  background-color: #F7F5F5;
  padding: 20px;
  margin-top: 30px;
  margin-left: 1.6em;
  width: 90%;
}

/* Página 04 */

.principal-pagina04 {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.cabecalho-interno {
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 5%;
  }

.menu-principal {
    display: flex;
  }

.cabecalho .menu-principal h2 {
    margin-left: 20px;
    font-weight: 400;
    color: #27214D;
}

.busca-formulario {
    display: flex;
    margin: 5%;
  }

.cabecalho .busca-formulario .entrada-formulario {
    display: flex;
    align-items: center;
    background-color: #F5F5F5;
    border-radius: 16px;
    padding: 20px;
    width: 100%;
  }

.cabecalho .busca-formulario .entrada-formulario i {
    color: #B4B4C0;
  }

.cabecalho .busca-formulario .entrada-formulario input {
    width: 100%;
    border: none;
    background-color: transparent;
    margin-left: 15px;
    color: #B4B4C0;
  }

.cabecalho .busca-formulario .entrada-formulario input:focus {
    outline: none;
  }

.cabecalho .busca-formulario div {
    margin-left: 5px;
  }

.assuntos {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    width: 100%;
    padding: 8px 20px;
    background-color: #FAFAFA;
    -webkit-overflow-scrolling: touch;
  }
.assuntos-cards {
    flex: 0 0 auto;
    margin-right: 3px;
    border: 1px solid rgb(226, 226, 226);
    background-color: #FFFFFF;
    border-radius: 10px;
    width: 23%;
    height: 32px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.assuntos-cards span {
    color: #333333;
    font-size: 80%;
  }

.assuntos::-webkit-scrollbar {
    display: none;
  }

.menu-combo {
    display: flex;
    margin-bottom: 20px;
  }

.menu-combo h2 {
    cursor: pointer;
    font-size: 112.5%;
    line-height: 30px;
    color: #27214D;
    margin-left: 5%;
  }

.menu-combo h2:not(h2:first-child) {
    margin-left: 30px;
    color: #253F66;
  }

.menu-combo h2:first-child::after {
    content: "";
    display: block;
    width: 40px;
    height: 3px;
    background-color: #FFA451;
  }

.combos-conteudo {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

.combos-conteudo .card {
    flex: 0 0 auto;
    margin-right: 15px;
    border-radius: 16px;
    padding: 3%;
    width: 40%;
    text-align: center;
    justify-content: center;
  } 
  
.combos-conteudo .card-coracao {
    text-align: right;
  }

.combos-conteudo .card-coracao img {
    width: 20px;
  }

.combos-conteudo .card a {
    width: 100%;
  }

.combos-conteudo .card-comida {
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.combos-conteudo .card-comida img {
    width: 70%;
    max-height: 80px;
}
  
.combos-conteudo .card p {
    margin-top: 15px;
    font-weight: 500;
    font-size: 0.875rem;
    color: #27214D;
 }

.combos-conteudo .card-custo {
    display: flex;
    justify-content: space-around;
    color: #FFA451;
    margin-top: 8px;
 }

.combos-conteudo .card-custo span {
    align-self: flex-end;
    font-size: 0.875rem;
}

.combos-conteudo .card:first-child {
    background-color: #FFFCF2;
}

.combos-conteudo .card:nth-child(2) {
    background-color: #FEF4F4;
}

.combos-conteudo .card:nth-child(3) {
    background-color: #F1EFF6;
}

.combos-conteudo .card:last-child {
    background-color: #F1F6FF;
}

.combos-conteudo::-webkit-scrollbar {
    display: none;
}

.recommended {
    margin: 7% 5% 5% 5%;
  }

.recommended h2 {
    font-size: 112.5%;
    line-height: 30px;
}
  
.recommended h2::after {
    content: "";
    display: block;
    width: 50px;
    height: 3px;
    background-color: #FFA451;
  }

.recommended-conteudo {
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
}

.recommended-conteudo .card {
    border: 1px solid #f5f3f3;
    border-radius: 16px;
    text-align: center;
    padding: 5%;
    margin-left: 6px;
    width: 50%;
}

.recommended-conteudo .card-coracao {
    text-align: right;
}

.recommended-conteudo .card-coracao img {
    width: 20px;
}

.recommended-conteudo .card-comida img {
    width: 100%;
    height: 150px;
}

.recommended-conteudo .card p {
    margin-top: 15px;
    font-weight: 500;
    font-size: 80%;
    color: #27214D;
}

.recommended-conteudo .card-custo {
    display: flex;
    justify-content: space-around;
    color: #FFA451;
    margin-top: 8px;
}

.recommended-conteudo .card-custo span {
    align-self: flex-end;
    font-size: 0.875rem;
}

/* Página 05 */

.prato {
    background: #FFA451;
    height: 40vh;
    width: 100%;
}

.botao-voltar {
    padding: 4% 0 1% 4%;
 }

.botao-voltar a {
  width: 5rem;
  display: flex;
  align-items: center;
  background-color: #FFFFFF;
  text-decoration: none;
  border-radius: 100px;
  padding: 5px;
  font-size: 12px;
  color: #27214D;
}

.imagem-prato {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 9%;
}

.imagem-prato img {
    max-width: 110%;
    height: 110%;
  }

.pedido {
    margin-top: 2em;
    width: 100%;
    height: 60%;
    padding: 10% 4% 0 4%;
    background-color: #FFFFFF;
 }

.titulo-pedido {
    font-size: 2em;
    font-weight: bold;
    color:#27214D;
 }

 .detalhes-pedido {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #F3F3F3;
    padding-bottom: 2%;
 }

 .adicao-produto {
    margin-top: 4%;
    display: flex;
    width: 10%;
    align-items: center;
 }

 .adicao-produto span {
  margin-left: 18px;
  margin-right: 18px;
 }

 .detalhes-pedido p {
    margin-top: 5%;
    font-weight: bold;
    color:#27214D;
    font-size: 24px;
    
 }

 .combo-pedido {
    width: 100%;
    height: 60%;
    padding: 4% 4% 0 4%;
    background-color: #FFFFFF;
 }

  .combo-pedido h2 {
    font-size: 18px;
    line-height: 30px;
    color: #27214D;
    font-weight: 400;
  }

  .combo-pedido h2::after {
    content: "";
    display: block;
    width: 50px;
    height: 3px;
    background-color: #FFA451;
  }
  .combo-pedido ul {
    display: flex;
    flex-wrap: wrap;
    margin-top: 3%;
  }

  .combo-pedido ul li {
    background-color: #FAFAFA;
    border-radius: 10px;
    margin-left: 5px;
    padding: 8px;
    margin-top: 8px;
    color: #403E3E;
    list-style: none;
  }

  .descricao-pedido {
    padding-top: 5%;
    padding-left: 5%;
  }
  .descricao-pedido p {
    color: #333333;
    font-weight: 200;
  }

  .butao-pedido {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10% 5% 0 5%;
    padding-bottom: 10px;
    
  }
  .butao-pedido img {
    width: 48px;
    height: 48px;
  }

  .butao-pedido button {
    width: 40%;
    height: 50px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    background-color: #FFA451;
    cursor: pointer;
  }

  /* Responsividade  */

  @media screen and (min-width:912px) { /* todas as telas que tenham no minimo 912px */
  
    .titulo-nome {
      margin-top:2rem;
      font-size: 24px;
    }

    .titulo-cesta {
      margin-top:2rem;
      font-size: 24px;
  }

  .paragrafo-cesta {
      font-size: 24px;
      line-height: 24px;
      padding-left: 4.4rem;
  }

  .botao-Continue-Ordering {
    margin-top: 20%;
    margin-bottom: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .botao-Continue-Ordering a {
    color: #FFFFFF;
    text-decoration: none;
    width: 90%;
    padding: 30px 20px;
  }
}

  @media screen and (min-width:768px) { /* todas as telas que tenham no minimo 768px */
    .titulo-cesta {
      margin-top:2rem;
      font-size: 24px;
      margin-left: 10px;
  }

  .paragrafo-cesta {
    font-size: 24px;
    line-height: 24px;
    padding-left: 3rem;
}
   
  .botao-Continue-Ordering {
    margin-top: 20%;
    margin-bottom: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .botao-Continue-Ordering a {
    color: #FFFFFF;
    text-decoration: none;
    width: 90%;
    padding: 30px 20px;
}

.entrada-nome {
  margin-left: 45px;
}

.titulo-nome {
  margin-top:2rem;
  font-size: 24px;
  margin-left: 10px;
  }
}

@media screen and (max-width:912px) { 
    .imagem-prato {
     height: 80%;
    }
}